{% extends 'theme.html' %}

{% block title %}
    Hero Articles
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        {% for object in object_list %}
            <div class="card col-lg-6">
                <div class="card-header person">
                    {{ object.name }}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Title</td>
                            <td>{{ object.title }}</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{ object.author }}</td>
                        </tr>
                        <tr>
                            <td>Picture</td>
                            <td>
                                {% if object.image %}
                                    <img src="/media/{{ object.image.image }}" alt="{{ object.image.title }}" width="100">
                                {% else %}
                                    No image available
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Article</td>
                            <td>{{ object.article }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}