{% extends 'theme.html' %}


{% block title %}
Hero Articles
{% endblock title %}


{% block content %}

<div class="row">

    <div class="card col-lg">

        <div class="card-header person">
            HERO
        </div>
        <div class="card-body">


            <table class="table">
                <tr>
                    <td>Title</td>
                    <td><a href="/{{ object.pk }}/">{{ object.title }}</a></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>{{ object.author }}</td>
                </tr>
                <tr>
                    <td>
                        Picture
                    </td>
                    <td>
                    {% if hero.image %}
                    <img src="/media/{{ hero.image.image }}" alt="{{ hero.image.title }}" width="100">
                    {% else %}
                    No image available
                    {% endif %}
                    </td> 
                </tr>
                <tr>
                    <td>Article</td>
                    <td>{{ object.article }}</td>
                </tr>
            </table>
        </div>
    </div>

    <p>
        <a href="/{{ object.pk }}/article_edit" class="btn btn-success m-5">Edit Article</a>
        
    </p>

</div>

{% endblock content %}