{% extends 'theme.html' %}


{% block title %}
Hero Articles
{% endblock title %}


{% block content %}

    {% for hero in object_list %}

        <div class="container-fluid">

            <div class="card col-lg-6">

                <div class="card-header person">
                    {{ object.name }}
                </div>
                <div class="card-body">

                    {% for hero in object_list %}
                    <table class="table">
                        <tr>
                            <td>Title</td>
                            <td><a href="/{{ object.pk }}/">{{ object.title }}</a></td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{ object.author }}</td>
                        </tr>
                        <tr>
                            <td>
                                Picture
                            </td>
                            <td>
                            {% if hero.image %}
                            <img src="/media/{{ hero.image.image }}" alt="{{ hero.image.title }}" width="100">
                            {% else %}
                            No image available
                            {% endif %}
                            </td> 
                        </tr>
                        <tr>
                            <td>Article</td>
                            <td>{{ object.article }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}